{% extends "base.html" %}
{% load static %}
{% load markdown %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<div class="container">
  <div class="row">
    <main class="col-md-8 post-info">
      <h1>{{ object.title }}</h1>
      <p>{{ object.published_at|date }}</p>
      <p>{{ object.category.name }}</p>
      {% for tag in object.tags.all %}
        {{ tag.name }},
      {% endfor %}
      <hr>
      <div class="post-content">
        {{ object.content| markdown_to_html }}
      </div>
      <hr>
    </main>
    <aside class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>
  </div>
</div>

{% endblock %}
