{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/style.min.css' %}">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-167369199-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-167369199-1');
</script>

<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-5 section-title">All tags</h1>
      <ul>
        {% for tag in object_list %}
        <li style="list-style:none; margin-bottom:7px;"><a href="{% url 'blog:tag_post' tag.slug %}">{{ tag.name }} ({{ tag.num_posts }})</a></li>
        {% empty %}
        <li>タグはありません。</li>
        {% endfor %}
      </ul>

    </main>
    <aside class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>
  </div>
</div>

{% endblock %}
