{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <h1 class="mb-5">All tags</h1>
      <ul>
        {% for tag in object_list %}
        <li style="list-style:none; margin-bottom:7px;"><a href="{% url 'blog:tag_post' tag.slug %}">{{ tag.name }} ({{ tag.num_posts }})</a></li>
        {% empty %}
        <li>タグはありません。</li>
        {% endfor %}
      </ul>

    </main>
    <aside class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>
  </div>
</div>

{% endblock %}
