 *{
  color: rgb(115, 115, 115);
  font-family: "hiragino";
  box-sizing: border-box;
}
.container{
  margin-top: 100px;
}
/*post-info*/
.post-info{
  margin-bottom: 50px;
}
.post-info img{
  margin-top: 30px;
  margin-bottom: 30px;
}


body{
  padding: 0;
  margin: 0;
}


.section-title{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/

}














/*post-detail*/

.post-content{
  margin-top:150px;
  margin-bottom: 150px;
}



.post-content p,.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5{
  margin-bottom: 9vh;
}


.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5{
  margin-top: 30vh;
}



.ed p, .ed h1, .ed h2, .ed h3, .ed h4,.ed h5{
  margin-bottom: 0;
}
.post-content h1, .post-content  h2, .post-content h3, .post-content h4,.post-content  h5{
  border-bottom: 10px solid rgb(255, 253, 215);
}



.post-content ul, .post-content ol{
  margin-bottom: 9vh;

}
.post-content li{

}
img{
  width:100%;
}
  .toc{
    margin-top:80px;
    margin-bottom:80px;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: rgb(255, 253, 215);
    border-radius: 20px;
  }
    .toc::before{
      content:'Contents';
      width:90%;
      margin-left: 20px;
      height:100px;
    }
    .toc ul{
      margin-top: 25px;
      padding-left: auto !important;
      margin-bottom: 25px;
    }
    .toc ol{
      margin-top: 25px;
      margin-bottom: 25px;
    }
    .toc li{
      list-style: none;
    }
    .toc a{
      text-decoration: none;
    }

.ed{
  margin-bottom: 8vh;
}
.ed ul, .ed ol{
  margin-bottom: 0;
}
.ed li{
  list-style:none;
}
  .ed li::before{
    content:"-"
  }
.bg-blue{
  background-color: rgb(194, 216, 246);
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 8vh;
}
.bg-grey{
  background-color: rgb(228, 228, 228);
  width:100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 9vh;
}
.uline-blue{
  border-bottom: 2px solid rgb(194, 216, 246);
}

.okay::before{
  content:"\f00c";
  font-family: "FontAwesome";
  font-weight: 400;
  color: rgb(136, 238, 69);
  list-style: none;
}
.wrong::before{
  content:'\f00d';
  font-family: "FontAwesome";
  color: rgb(215, 16, 16);
  font-weight: 400;
  list-style: none;
}









/*reset*/


/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
	box-sizing: border-box;
}
